<!--导航栏-->

<div class="zj_header">
	  <div class="zj_logo">
			<a href="<{:U('Index/index')}>"><img src="__IMG__/zj_logo.png" /></a>
	  </div>
	   <div class="url">
		<ul>
		<li><a href="<{:U('Custom/custom')}>">客户服务</a></li>
		<li><a href="<{:U('About/about')}>">关于尊嘉</a></li>
		<li><a href="<{:U('News/news')}>">新闻咨询</a></li>
		<li><a href="<{:U('Funds/funds')}>" class="fund_hover">基金产品</a></li>
		<li><a href="<{:U('Index/index')}>" class="zj_home">首页</a></li>


		</ul>
		</div>	
</div>