<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__Kind__/themes/default/default.css" />
	<link rel="stylesheet" href="__Kind__/plugins/code/prettify.css" />
	<script charset="utf-8" src="__Kind__/kindeditor.js"></script>
	<script charset="utf-8" src="__Kind__/lang/zh_CN.js"></script>
	<script charset="utf-8" src="__Kind__/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content1"]', {
				cssPath : '__Kind__/plugins/code/prettify.css',
				uploadJson : '__Kind__/upload_json.php',
				fileManagerJson : '__Kind__/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
				}
			});
			prettyPrint();
		});
	</script>
	</head>
	<body>
		
	<foreach name="info" item='vo'>
	<form name="example" method="post" action="profile.html">
    ID: <input type="text" readonly="readonly" name="title" value=" <{$vo.id}>">
         <br /><br />
		<textarea name="content1" style="width:1100px;height:400px;visibility:hidden;"> <{$vo.content}></textarea>
		<br />
		<input type="submit" name="button" value="提交内容" /> (提交快捷键: Ctrl + Enter)
	</form>
	</foreach>
	</body>
</html>
